<div layout="column" layout-margin>
    <span layout-margin ng-if=!classes.length>No Classes Were Generated</span>
    <md-card ng-if="classes.length">
        <md-toolbar class="md-table-toolbar md-default" >
            <div class="md-toolbar-tools">
                <span>Classes</span>
            </div>
        </md-toolbar>
        <div ng-cloak>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-repeat="class in classes | orderBy: 'index'" label="{{class.index}}" md-on-select="loadClass(class)">
                    <md-table-container ng-show="currClass">
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column>ID</th>
                                <th md-column>First Name</th>
                                <th md-column>Last Name</th>
                                <th md-column>Gender</th>
                                <th md-column>Social</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="student in currClass.students | orderBy: 'name.last' | limitTo: paginate.limit: (paginate.currPage - 1) * paginate.limit">
                                <td md-cell>{{ student.id }}</td>
                                <td md-cell>{{ student.name.first }}</td>
                                <td md-cell>{{ student.name.last }}</td>
                                <td md-cell>{{ student.gender }}</td>
                                <td md-cell>{{ student.social }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <div layout="row">
                        <div layout="column" layout-align="center" class="md-table-pagination">
                            <span>Statistics&nbsp;&nbsp;-&nbsp;&nbsp;
                                Male-Female proportion in class is {{(currClass.genders.male/currClass.students.length) | number}}-{{(currClass.genders.female/currClass.students.length) | number}} |
                                Average grade is {{currClass.avgGrade | number}} |
                                Average social is {{currClass.avgSocial | number}}
                            </span>
                        </div>
                        <md-table-pagination
                                md-limit="paginate.limit"
                                md-page="paginate.currPage"
                                md-total="{{class.students.length}}" flex>
                        </md-table-pagination>
                    </div>
                </md-tab>
            </md-tabs>
        </div>
    </md-card>
    <md-card ng-if="classes.length" layout-padding>
        <span class="md-caption" ng-attr-style="{{currClass.index === class.index ? 'font-weight: boldd;' : null}}" ng-repeat="class in classes">
            Class {{class.index}}&nbsp;&nbsp;-&nbsp;&nbsp;
            Male-Female proportion in class is {{(class.genders.male/class.students.length) | number}}-{{(class.genders.female/class.students.length) | number}} |
            Average grade is {{class.avgGrade | number}} |
            Average social is {{class.avgSocial | number}} |
            Average Prefers is {{class.avgPrefers | number}}
        </span>
    </md-card>
</div>
<md-button class="md-fab md-fab-bottom-right md-primary" layout layout-align="center center"
           ng-click="export($event)" aria-label="Add new constraint">
    <md-tooltip md-direction="top">Export</md-tooltip>
    <i class="mdi mdi-download mdi-24px"></i>
</md-button>
