<form name="generateForm" flex="60" layout="row" layout-align="center center" layout-padding>
    <md-card flex="50" layout="column" layout-margin>
        <div layout="row" layout-align="center">
            <h1>Generate Classes</h1>
        </div>
        <div layout="row" layout-align="center">
            <span>
                In this page you can create the classes based on student data.
                But first you need to enter some more data
            </span>
        </div>
        <fieldset layout="row">
            <legend>More information:</legend><br>
            <md-input-container>
                <label>Maximum number of students in a class:</label>
                <input name="maxStudents" type="number" required min="20" max="40" ng-model="maxStudents" >
                <div ng-messages="generateForm.maxStudents.$error"
                     ng-show="generateForm.maxStudents.$invalid && generateForm.maxStudents.$touched">
                    <div ng-message="required">Required</div>
                    <div ng-message="min">Min value must be 20</div>
                    <div ng-message="max">Max value must be 40</div>
                </div>
            </md-input-container>
        </fieldset>
        <div layout="row" layout-align="end">
            <md-progress-circular ng-disabled="!generating" ng-hide="!generating" md-diameter="30px" layout-align="space-around" style="margin:6px;"></md-progress-circular>
            <md-button ng-click="generate($event)" ng-disabled="generating || generateForm.$invalid">Generate</md-button>
        </div>
    </md-card>
</form>
